<h1>New quarto</h1>

<%= render "form", quarto: @quarto %>

<br>

<div>
  <%= link_to "Voltar para lista de quartos", quartos_path %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>