<h1>New conta usuario</h1>

<%= render "form", conta_usuario: @conta_usuario %>

<br>

<div>
  <%= link_to "Voltar para lista de conta usuarios", conta_usuarios_path %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>