<h1>Editando H처spede</h1>

<%= render "form", hospede: @hospede %>

<br>

<div>
  <%= link_to "Mostrar este h처spede", @hospede %> |
  <%= link_to "Voltar para lista de h처spedes", hospedes_path %>
</div>

<br>
<br>

<!-- Bot찾o para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>