<h1>Editando Hóspede</h1>

<%= render "form", hospede: @hospede %>

<br>

<div>
  <%= link_to "Mostrar este hóspede", @hospede %> |
  <%= link_to "Voltar para lista de hóspedes", hospedes_path %>
</div>
