<p style="color: green"><%= notice %></p>

<h1>Hóspedes</h1>

<div id="hospedes">
  <% @hospedes.each do |hospede| %>
    <%= render hospede %>
    <p>
      <%= link_to "Mostrar detalhes do hóspede", hospede %>
    </p>
  <% end %>
</div>

<%= link_to "Novo hóspede", new_hospede_path %>
