<h1>Novo Hóspede</h1>

<%= render "form", hospede: @hospede %>

<br>

<div>
  <%= link_to "Voltar para lista de hóspedes", hospedes_path %>
</div>

<br>
<br>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_path, class: "btn btn-primary" %>
</div>