<h1>Editing funcionario</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
  <%= link_to "Mostrar este funcionario", @funcionario %> |
  <%= link_to "Voltar para lista de funcionarios", funcionarios_path %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>