<h1>Novo Funcionário</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
  <%= link_to "Voltar para lista de funcionários", funcionarios_path %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_path, class: "btn btn-primary" %>
</div>
